<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style type="text/css">
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 150%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

@font-face{
    font-family: Sunn;
    src: url('../fonts/SUNN.otf');
}

@font-face{
    font-family: Edelsans;
    src: url('../fonts/edelsans_regular.otf');
}

@font-face{
    font-family: "Nexa Light";
    src: url('../fonts/Nexa Light.otf');
}

@font-face{
    font-family: "Jaapokki";
    src: url('../fonts/Jaapokki_Regular.otf');
}

body{
    margin: 0;
    padding: 0;
}

a:link{
    color: #c0392b;
    text-decoration: none;
}

a:visited{
    color: #c0392b;
    text-decoration: none;
}

a:hover{
    color: gray;
}

#personalBackground {
    float: left;
    width: 100%; 
    height: auto; 
    background-size: cover;
    background-image: url(../images/contactBackground.jpg);
}

.navface{
    float:left;
    width: 90px;
    height: auto;
    margin: 2% 0 0 6%;
}

.navbar{
    list-style-type: none;
    margin: 1em 4em 0 0;
    width: 30%;
    float: right;
    right: 0px;
    position: absolute;
    z-index:100;
}

li{
    display: inline;
    float: right;
    font-family: "Edelsans";
    font-weight: bold;  
    margin: 0 10px 0 10px;
    z-index:100;
    width: 70px;
}

.icon{
    width: 60px;
    height: auto;
}

.icon:hover{
    width: 70px;
  cursor: pointer;
}

#heading{
    font-family: "Sunn";
    font-size: 100px;
    color: white;
    text-align: center;
    line-height: 3.5em;
}

#footer{
    float: left;
    height: 80px;
    width: 100%;
    background-color: #c0392b;
    text-align: center;
}

span{
    font-family: "Edelsans";
    text-align: justify;
}

#form-container {
    float: left;
    padding: 5% 0 6% 40%;
}

#contactHeader {
    float: left;
    font-family: "Nexa Light";
    font-size: 3ex;
    margin-bottom: 5%;
}
</style>